<div id="dw-s2" class="bmd-layout-drawer bg-faded">
  <header>
    <a class="navbar-brand text-primary" href="/">
      <h4>Flight Planner</h4>
    </a>
  </header>
  <ul class="list-group">
    <a class="list-group-item list-group-item-action drawer-item text-secondary" href="/">Home</a>
    <a class="list-group-item list-group-item-action drawer-item text-secondary" href="/report" id="rdforms-config-btn">Sample Flight Report</a>
    <a class="list-group-item list-group-item-action drawer-item text-secondary" href="/blocker">Blocker Report</a>
    <!-- <a class="list-group-item list-group-item-action drawer-item text-secondary" href="/labels">Test</a> -->
  </ul>
</div>
