<div id="dropdown-menu" class="btn-group pull-xs-right">
  <button class="btn bmd-btn-icon bmd-btn-fab bmd-btn-fab-sm dropdown-toggle" type="button" id="lr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons">more_vert</i>
  </button>
  <div id="dropdown-menu-right" class="dropdown-menu dropdown-menu-right" aria-labelledby="lr1"></div>
</div>
