<div class="modal fade" id="rdforms-configuration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rdforms-modal-title">
          Sample Report Options
          <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Options provide associated data for a particular flight in the following categories">
            <i class="material-icons">help_outline</i>
          </button>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="rdforms-modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="rdforms-modal-close-btn" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-raised btn-primary" id="rdforms-modal-save-btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
