<div class="container mt-4" id="rdforms-card-container"></div>
<!-- rdforms js api -->
<script src="dist/bmd.rdforms.js"></script>
<script src="node_modules/rdfjson/dist/rdfjson.js"></script>
<!-- create rdforms  -->
<script type="module" src="index/public/js/rdforms-report.js"></script>
<!-- global template labels controller -->
<script type="module" src="index/public/js/rdforms-template.js"></script>
<!-- rdforms configureation modal -->
<script type="module" src="index/public/js/rdforms-configuration.js"></script>
