<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- google api -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- custome css  -->
  <link rel="stylesheet" type="text/css" href="index/public/assets/style.css">
  <!-- datepicker -->
  <link rel="stylesheet" type="text/css" href="index/public/simplepicker-master/dist/simplepicker.css">
  <title>Flight Planner Report</title>
</head>

<body>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!-- bootstrap -->
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <!-- SnackbarJS plugin -->
  <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <!-- common js functions -->
  <script type="module" src="index/public/js/common.js"></script>

  <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
    <header class="bmd-layout-header">
      <div class="navbar navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">list</i>
        </button>
        {{>nav}}
      </div>
    </header>
    <div id="dw-s2" class="bmd-layout-drawer bg-faded">
      <header>
        <a class="navbar-brand">Title</a>
      </header>
      <ul class="list-group">
        <a class="list-group-item">Link 1</a>
        <a class="list-group-item">Link 2</a>
        <a class="list-group-item">Link 3</a>
      </ul>
    </div>
    <main class="bmd-layout-content">
      <div class="container">
        {{{body}}}
      </div>
      {{>footer}}
    </main>
  </div>

  <!-- main content -->
  {{>nav}}
  <div class="container">
    {{{body}}}
  </div>
  {{>footer}}

</body>

</html>
